<h1>Burgers!</h1>

<li>
	{{name}}

	<button class="lets-eat" data-id="{{id}}" data-newsleep="{{sleep}}">
		{{#if sleep}}SLEEP TIME!{{else}}ORDER BURGER{{/if}}
	</button>

	<button class="eat-burger" data-id="{{this.id}}">DELETE!</button>
</li>
