<li>
	{{burger_name}}
	{{#if devoured}}
	<button class="change-burger" data-id="{{id}}" data-newDevour="{{devoured}}">DEVOUR</button>
	{{else}}
	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
	{{/if}}
	
</li>