<li>
	{{burger_names}}

	<button class="change-devoured" data-id="{{id}}" data-eatNewBurger="{{devoured}}">
		{{#if sleep}}devoure{{else}}Order Burger{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">change-devoured!</button>
</li>